<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Goverment BBS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="navhome"><a href="#Home">Home</a></li>
                <li id="navlist"><a href="#List">List</a></li>
                <li id="navwrite"><a href="#Write">Write</a></li>
                <li id="navauth"><a href="#Auth">Auth</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
