{% extends 'bbs/base.html' %}

{% block title %}
Get notarized
{% endblock %}

{% block content %}
<h1>Are you government official {{ request.user.username }}?</h1>

<div class="col-sm-8 col-sm-offset-2">
    <div>Sign following JSON document:</div>
    <pre class="text-left">
{
  "id": "{{ request.user.username }}",
  "pubkey": "(your public key in ascii-armored form)"
}</pre>
</div>

<div class="col-sm-8 col-sm-offset-2">
    <form action="{% url 'notarize' %}" method="post">
        <p>
        <div>Send signed document:</div>
        <textarea class="form-control" name="document"></textarea>
        </p>

        {% csrf_token %}

        <p>
        <button type="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}
