{% extends 'bbs/base.html' %}

{% block title %}
Read post
{% endblock %}

{% block content %}
<h1>Read post</h1>

<b>title:</b> {{ post.title }} <br>
<b>content:</b> {{ post.content }} <br>
<b>author: </b> {{ post.author }} <br>
<b>Use script:</b> {% if post.use_script %}yes{% else %}no{% endif %}<br>
<a href="{% url 'list' %}" style="color:white">
    <button type="button" class="btn btn-success">Back</button>
</a>
<a href="{% url 'delete' post.id %}" style="color:white">
    <button type="button" class="btn btn-success">Delete</button>
</a>
<a href="{% url 'edit' post.id %}" style="color:white">
    <button type="button" class="btn btn-success">Edit</button>
</a>
{% endblock %}
